.title{
  font-weight:bold;
  margin-bottom:15px;
  margin-top:15px;
}

.Main{
  display: table;
}

.SidePanel{
  background-color: #eee;
  max-width:300px;
}

.dropdown button{
  width:100%;
}

.form-check-label{
  margin-left:5px;
}

.rules td{
  font-size:small;
  border:1px solid gray;
}